/**
 * Basic typography style for copy text
 */
body {
  color: $dark-grey;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: $base-font-size;
  text-rendering: geometricPrecision;
  background-color: #ebeff3;
  height: 100%;
}
p{
	color: $dark-grey;
    text-rendering: geometricPrecision;
}
a{
	color: $a-color;
}
h1, h2, h3, h4, h5, h6{
  // color: $dark-grey;
  font-family: $font-roboto;
  font-style: normal;
  // font-weight: 700;
    text-rendering: geometricPrecision;
}

dd {
    margin-left: 25px;
}
.bx {
    font-size: 17px;
}
