.left-side{
      overflow: hidden;
background-color: #02464f;
    padding: 50px !important;
  display: flex;
  flex-direction: column;
      padding-top: 100px !important;

  h1{
    color: #fff;
    font-weight: 300;
        font-size: 50px;
            margin-top: 40px;
    margin-bottom: 20px;
  }

  h5{
        color: #fff;
    font-weight: 300;
    margin-bottom: 50px;
        line-height: 1.5;
  }


}


.right-side{
  padding: 50px;

  .card{
    border: none;
    box-shadow: none;
    width: 65%;
    margin: auto;
    padding-top: 100px;
    .card-body{
      h2{
        margin-bottom: 30px;
            font-weight: 400;
        color: #004561;
    font-size: 22px;
      }
            .form-group {
    margin-bottom: 1.5rem;
}
    }
  }
}


@include media-breakpoint-down(sm) {

.right-side{
  padding: 20px;

  .card{
    border: none;
    box-shadow: none;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    .card-body{
      h2{
        margin-bottom: 30px;
            font-weight: 400;
        color: #004561;
    font-size: 22px;
      }
            .form-group {
    margin-bottom: 1.5rem;
}
    }
  }
}


 }



@include media-breakpoint-down(md) {

.right-side{
  padding: 20px;

  .card{
    border: none;
    box-shadow: none;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    .card-body{
      h2{
        margin-bottom: 30px;
            font-weight: 400;
        color: #004561;
    font-size: 22px;
      }
      .form-group {
    margin-bottom: 1.5rem;
}
    }
  }
}


 }








.public-svg{
    position: absolute;
       bottom: 26px;
    left: -39px;
    svg{
      width: 70%;
      height: auto;
    }
}

.top-svg{
    position: absolute;
      top: -10px;
    right: -101px;
}
