.card {
  box-shadow: 0 1px 3px 0 #dee3e6, 0 0 0 1px #dee3e6 !important;

  .card-header {
    padding: 20px 30px;
    background-color: #fff;
    border-bottom: none;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 17px;
    color: #0b4a58;
  }

  .card-body {
    padding: 30px;
  }
}

.card-90 {
  max-width: 100% !important;
  width: 90% !important;
  margin: auto !important;
}

.card-70 {
  max-width: 100% !important;
  width: 70% !important;
  margin: auto !important;
}


.table-card{
  .card-body{
        padding: 20px 0;
  }
}
