label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 13px;
   font-weight: 600;
}


.form-control{
      font-size: 13px;
    height: calc(1.5em + 0.75rem + 5px);
    border: 1px solid #d9e2ec;
    &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #5da5b5;
      outline: 0;
      box-shadow: none;
  }
}

.form-group {
    margin-bottom: 1.3rem;
}


.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
    font-size: 11px;
    font-weight: 500;
}

.public-form-control{
  border-radius: 3px;
    height: calc(1.5em + 0.75rem + 10px);
    font-size: 13px;

    &:focus{
          border-color: #286f8bf7;
    outline: 0;
    box-shadow: none;
    }
}
.form-text {
    font-size: 12px;
}


/* Checkbox */
.checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 0;
  cursor: pointer;
      font-size: 13px;
      font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
     position: absolute;
       top: 2px;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #b4cad5;
}

/* On mouse-over, add a grey background color */
// .checkbox:hover input ~ .checkmark {
//   background-color: #ccc;
// }

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid #28363b;
    border-width: 0 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}




.alert{
    font-weight: 500;
    font-size: 12px;
}

.alert-success {
    color: #155724;
    background-color: #eafaee;
    border-color: #c3e6cb;

}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.65rem 1.25rem;
    color: inherit;
}


.search-input{
  i{
        position: absolute;
    z-index: 8;
    line-height: 42px;
    padding: 0 14px;
    font-size: 17px;
    font-weight: 300;
    color: #495057;
  }
  .form-control{
    padding-left: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}


.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #55988f;
    background-color: #55988f;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(33, 170, 128, 0.2);
}
