main{
    position: relative;
        padding-top: 55px;
         padding-left: 230px;

    .topbar{
     margin-left: 230px;
 }
}


.main-65{
   padding-left: 65px;
     .topbar{
        margin-left: 65px;
     }
}
