.sidebar{
 width: 230px;
    //background-color: #062d39;
       background-color: #003656;
       //background-color: #ffffff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
        border-right: 1px solid #e4edf2;

    .logo-section{
          padding: 20px 25px;
          img{
            height: 35px;
          }

          svg{
            height: 35px;
              fill: #ead780;
          }

          .cls-1{fill:#22d492;}.cls-2{fill:#ffeb00;}
    }

    .sidebar-nav{                 
      .nav-item{
       .nav-link{
               color: #c5d6e8;
              font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 17px 25px;

            &:hover{
               color: #ffffff;
                   background-color: #064468;
            }

            .bx{
                font-size: 18px !important;
            }

       }

       .nav-link.active{
               background-color: #064468;
    color: #ffffff;
       }
      }
    }
}


.sidebar-mini{
    width: 65px;
    .sidebar-nav{
      .nav-item{
        .nav-link{
          width: 65px;
          span{
            display: none;
          }
        }
      }
    }
}

.setting-sidebar{
  max-width: 20%;
}

.settings-card{
  border-radius: 0;
  box-shadow: none;
      border: none;

      .card-body{
        padding: 0;
      }

}


.settings-ul-nav {
    padding: 20px
}

.settings-ul-nav .nav-item .nav-link {
       font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 13px;
    transition: 0.2s all ease-out;
    border-radius: 7px;
    margin-bottom: 5px;
      font-size: 12px;
}

.settings-ul-nav .nav-item .nav-link i {
    font-size: 18px;
    transition: 0.2s all ease-out
}

.settings-ul-nav .nav-item .nav-link:hover {
color: #105acf;
    background-color: #fcfcfc;
}
.settings-ul-nav .nav-item .nav-link.active {
color: #105acf;
    background-color: #fcfcfc;
}

.settings-ul-nav .nav-item .nav-link.active-tab {
      color: #2a8b61;
}



.settings-ul-nav .nav-item .nav-link[aria-expanded="true"] {
color: #105acf;
    background-color: #fcfcfc;
}

.settings-ul-nav .nav-item .nav-link[aria-expanded="true"] i {
    transform: rotate(360deg)
}

.settings-ul-nav-subnav {
    margin-left: 20px;
    margin-bottom: 15px
}

.settings-ul-nav-subnav .nav-item .nav-link {
 font-weight: 600;
    padding: 4px 10px;
    font-size: 12px;
    color: #888b90
}

.settings-ul-nav-subnav .nav-item .nav-link:hover {
    color: #2a8b61;
    background-color: transparent
}
